@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  margin-bottom: 50px;
}

.header {
  background-color: #131417;
}

.footer {
  background-color: #131417;
  border-color: #6b7280;
  position: fixed;
  width: 100%;
}

.title h1 {
  margin-left: 56%;
  font-weight: bold;
  font-family: Arial;
  font-size: 60px;
  margin-top: -23%;
}

.title span {
  margin-left: 47%;
  font-weight: bold;
  font-family: Arial;
  align-items: center;
  font-size: 25px;
  margin-top: 20px;
}

.title p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  margin-left: 40%;
  font-size: 19px;
}

.my-hr {
  border-color: #6b7280;
  border-bottom-width: 2px;
  margin-top: 200px;
}

.card {
  background-color: #3f23f1;
}

.dropdown {
  color: #1e40af;
  user-select: none;
  position: relative;
}

.dropdown .dropdown-btn {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #131417;
}

.dropdown .dropdown-content .dropdown-item {
  font-size: medium;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}

form {
  display: block;
  margin: 40px auto;
  padding: 20px;
  max-width: 400px;
  max-height: 500px;
}

form input,
textarea {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px 2px;
  width: 100%;
  margin: 10px auto;
  padding: 8px;
  background-color: #f1f1f1;
  border: 1px solid;
}

form button {
  height: 30px;
  width: 80px;
  align-items: center;
  border: none;
  color: #fff;
  cursor: pointer;
}

table{
  border-collapse: separate;
  border-spacing: 20px;
  border: 1px solid white;
  width: 100%;
}

th,td{
  text-align: center;
}
